*{
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}


.card {
  max-width: 18rem;
  background-color:rgb(235, 247, 247);
  justify-content: center;
}

.card-img-top{
  border-bottom: .5px solid rgb(192, 190, 190);
  width: 18rem;
  justify-content: center;
  max-height: 18rem;
  
}
.card-img-top:hover{
  transform: rotateY(360deg);
  transition: 1s;
}
